<%= render partial: 'shared/page_title', locals: { page_title: '「' + params[:q]['title_cont'] + '」の検索結果' } %>

<main class="main">
  <div class="wrap">
    <div class="book-top flex">
      <div class="book-top__box before">
        <h2 class="book-top__heading">「<%= params[:q]['title_cont'] %>」の検索結果(<%= @books.size %>件)</h2>
        <% if @books.any? %>
        <ul class="book-top-list">
          <% @books.each do |book| %>
          <li class="book-top-list__item">
            <%= link_to book.title, books_show_path(book), class: 'book-top-list__link' %>
          </li>
          <% end %>
        </ul>
        <% else %>
        <p class="book-top__txt">当てはまる書籍はありません。</p>
        <% end %>
      </div>
      <div class="book-top__box after">
        <h2 class="book-top__heading">蔵書の検索</h2>
        <figure class="book-top__ico--search">
          <%= image_tag 'ico_search.webp' %>
        </figure>
        <%= search_form_for @q, url: books_search_path, class: 'book-top-form' do |search| %>
        <%= search.search_field :title_cont, class: 'book-top-form__search', placeholder: '本の名前を入力してください。' %><br>
        <%= search.submit '検索', class: 'book-top-form__submit' %>
        <% end %>
      </div>
    </div>
  </div>
</main>
